body {
  background-color: black;
}

.board {
  width: 1000px;
  height: 720px;
  border: 1px solid black;
  #margin: 0 auto;
  background-color: black;
}

.grid {
  position: absolute;
  #left: 50px;
  #top: 50px;
}

.img_back {
  top: 100px;
  left: 100px;
  position: absolute;
  width: 750px;
}

.element {
  position: absolute;
  #width: 50px;
  #height: 50px;
}

.snap {
  position: absolute;
  width: 336px;
  height: 313px;
  #border: 1px solid red;
}

#snap1 {
  top: 49px;
  left: 57px;
}

#snap2 {
  top: 49px;
  left: 305px;
}

#snap3 {
  top: 49px;
  left: 555px;
}

#snap4 {
  top: 260px;
  left: 57px;
}

#snap5 {
  top: 260px;
  left: 305px;
}

#snap6 {
  top: 260px;
  left: 555px;
}

.shadow {
  #filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
  #transition: all 0.1s linear;
}

